<form name="new_event" action="/events" method="post" accept-charset="utf-8">
<label for="event[title]">Event</label><br>
<input type="text" name="event[title]">

<label for="event[notes]">Notes (optional)</label><br>
<textarea  name="event[notes]"></textarea>
<br>

<input type="submit" value="Add Event">

</form>
