<br><br>
<h4>Create a New Trip</h4>
<form name="new_itin" action="/itins" method = "post" accept-charset="utf-8">
	<input type="text" name="itin[title]" placeholder="Trip Name"><br>
	<label for="itin[start_date]">From: </label><br>
	<input type="text" class="datepicker" name="itin[start_date]"><br>
	<label for="itin[end_date]">To:</label><br>
	<input type="text" class="datepicker" name="itin[end_date]"><br>
  <label for="itin[notes]">Notes</label><br>
  <textarea name="itin[notes]" rows="8" cols="50" placeholder="Notes about your trip, Plane reservations, Hotel Name, etc"></textarea>
  <br>

	<input type="submit" value="Save Trip">
</form>





