<div class="page">
<h1>itinerary</h1>
<h2>Planning a trip?  <br> Use Trip Planner to edit your trip plan with your friends. <br> Anyone with the Trip Name can edit and save</h2>


<form method = "get" action="/itineraries/" class="float_right">
<input type="text" name="itinerary[title]">
<button>Look Up Your Travel Plan</button>
</form>

<section class = "new_itinerary">
<%= partial :'partials/itinerary_new' %>
</section>

<section class = "itinerary">

</section>


<section class="events">
<h2>Events</h2>

<ul class="no_bullets no_padding">
	<% if events %>
		<% events.each do |event| %>
			<li>

				<%= partial :'partials/event_edit', :locals => { :event => event } %>
				<%= partial :'partials/event', :locals => { :event => event } %>
			</li>

		<% end %>
	<% end %>
	<li class="new event">
	<%= partial :'partials/event_new' %>
	</li>
</ul>



</section>









</div>
