<div class="page">
<h1>Itin</h1>
<h2>Planning a trip?  Use Itin to edit your itinerary with your friends.  Anyone with the itinerary name can edit and save</h2>



<form method = "get" action="/itins/">
<input type="text" name="itin[title]">
<button>Look Up Your Itinerary</button>
</form>

<section class = "new_itin">
<%= partial :'partials/itin_new', :locals => {:itin => itin} %>
</section>

<section class = "itin">
</section>


<section class="events">
<h2>Events</h2>
<ul class="events">
	<li>
		<%= partial :'partials/event_new' %>
	</li>
	<% if @events %>
		<% @events.each do |event| %>
		<li>
		<%= partial :'partials/event',:locals => {:event=> event} %>
		</li>
		<% end %>
	<% end %>
</ul>
</section>









</div>
