<!DOCTYPE html>
<head>
<title>Itin - Group Trip Planner</title>

  <!-- Use normalize.css for cross-browser consistency
       http://necolas.github.io/normalize.css/ -->
  <link rel="stylesheet" href="/css/normalize.css">

  <!-- Load main stylesheet -->
  <link rel="stylesheet" href="/css/main.css">
 </head>

 <body>


 	<%= yield %>

	<!-- Load jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script>

	<!-- Itin Scripts -->

</body>
<html>

