<!DOCTYPE html>
<head>
<title>itinerary - Group Trip Planner</title>

  <!-- Use normalize.css for cross-browser consistency
       http://necolas.github.io/normalize.css/ -->
  <link rel="stylesheet" href="/css/normalize.css">

  <!-- Load main stylesheet -->
  <link rel="stylesheet" href="/css/main.css">

  <!-- Load timepicker css -->
  <link rel="stylesheet" href="/css/jquery.timepicker.css">


</head>

<body>


 	<%= yield %>




</body>

<script type = "text/javascript" src="/js/jquery.js"></script>
<script type = "text/javascript" src="/js/itinerary.js"></script>
<script type = "text/javascript" src="/js/event.js"></script>


<html>

